/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: #fff;
}

/* @media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
} */

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 42px;
}

.heroTitle {
  font-size: 80px;
  font-weight: 800;
  margin: 8;
  padding: 8;
}

.heroSubtitle {
  font-size: 24px;
  font-weight: 400;
  margin: 8;
  padding: 8;
}

@media screen and (max-width: 996px) {

.heroTitle {
  font-size: 40px;
  font-weight: 800;
  margin: 8;
  padding: 8;
}

.heroSubtitle {
  font-size: 18px;
  font-weight: 400;
  margin: 8;
  padding: 8;
}
}
